.filter-menu {
    width: 15%;
    padding: 20px;
    font-size: 18px;
    box-shadow: 0 2px 7px 2px rgb(0 0 0 / 12%);
    max-height: 500px;
    background-color: white;
    margin-right: 20px;

    .filter-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 10px;
        margin-bottom: 10px;

        h4 {
            margin: 0;
        }

        .clear-all {
            font-weight: 500;
            font-size: 12px;
            color: #007185;
            cursor: pointer;
        }
    }

    .filter-material {
        color: #565959;
        font-weight: 400;
        margin-bottom: 8px;
    }

    .ant-checkbox-group {
        display: flex;
        flex-direction: column;

        label {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }
}