.home {
    display: flex;

    .loader {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }

    .view-port {
        display: flex;
        padding: 20px;
        max-height: calc(100vh - 65px);
    }
}