.catalog {
    display: flex;
    width: 85%;

    .items-catalog {
        display: flex;
        flex-wrap: wrap;
        max-height: 100%;
        overflow: scroll;
        width: 100%;
    }

    .transition-items {
        width: 68%;
        transition: width 0.5s;
    }
}
