.header {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    height: 65px;
    background: black;
    padding: 10px 30px;
    box-sizing: border-box;
    color: white;
}